
@{
    ViewBag.Title = "Privacy Policy - HyperFyp";
    Layout = "~/Views/Landing/_LandingLayout.cshtml";
}

<style>
    .box {
        position: relative;
        width: 90%;
        max-width: 900px;
        margin: 5%;
        font-family: 'Poppins', sans-serif;
        display: flex;
        justify-content: center;
        color: #2f2f2f;
        font-size: 1rem;
    }

        .box .box-box {
            padding: 40px;
            background-color: #ffffffe3;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            gap: 25px;
            backdrop-filter: blur(14px);
        }
            .box .box-box .box-box-box {
                display: flex;
                flex-direction: column;
            }
</style>

<main class="inside">
    <div class="box">
        <div class="box-box">
            <span style="font-size: 23px; font-weight: 500;">Privacy Policy</span>
            <div class="box-box-box">
                <span style="font-size: 18px; color: #2d0065">Introduction</span>
                <p>This page outlines the Privacy Policy of HyperFyp, specifying our approach to the collection, disclosure, and security of your information.  We reserve the right to amend, add to, or delete from this Privacy Policy at any time without prior notice. By using our website or related services, you agree to our Privacy Policy. The most up-to-date policy can always be found at this webpage.</p>
            </div>
            <div class="box-box-box">
                <span style="font-size: 18px; color: #2d0065">Data Security</span>
                <p>HyperFyp prioritizes data protection. All stored data is securely encrypted, with access restricted to authorized staff members. This security extends to data transmission over our webpages, protecting it from unauthorized interception.  We continually invest in maintaining the integrity of our systems and network.</p>
                <p>While we cannot guarantee that unauthorized third parties will never illegally gain access to sensitive information, we have robust security protocols in place to respond to such incidents.  You understand the inherent risks of potential breaches and assume that liability. We cannot be held responsible for sensitive information leaked, stolen, or otherwise compromised by unauthorized third parties.</p>
            </div>
            <div class="box-box-box">
                <span style="font-size: 18px; color: #2d0065">Collection and Use of Sensitive Information</span>
                <p>HyperFyp collects certain information to ensure the smooth operation and security of our systems and network. This includes basic user information such as username, email address, IP address, offer information, and time of action each time an account is created or an offer is completed. This data is linked to your account and enables us to detect breaches of our Terms of Service (such as multiple IP addresses associated with a single account) or fraudulent activity.</p>
                <p>When signing into HyperFyp with a non or social account, we collect your name, email address, and avatar from the connected social account or from any data you sent to us.</p>
                <p>We may also collect non-sensitive information regarding user activities on our website for statistical analysis and improvement purposes. Cookies are stored from our website (with minimal use), and by using our services, you agree to the collection and storage of these cookies.</p>
            </div>
            <div class="box-box-box">
                <span style="font-size: 18px; color: #2d0065">Disclosure of Information Policy</span>
                <p>HyperFyp utilizes third-party offer walls to provide users with offers. We share your user ID with them but no other personally identifiable information. These third-party providers may collect information on their own websites or offers unrelated to HyperFyp.</p>
                <p>We take data protection seriously and will not sell or disclose your information to third parties for our own benefit. You will only receive official communications from us upon account creation and other website notifications if enabled. We may occasionally send promotional emails about offers on our services and products.</p>
                <p>In rare situations, we may be required to share personal details with relevant law enforcement agencies. If we have reasonable belief that compliance with law enforcement or other regulatory bodies is required, we may do so without your prior consent or notice.  This is done to prevent fraud, security breaches, or to protect the rights and assets of HyperFyp. The decision to disclose sensitive information rests solely with HyperFyp's management, and their decision is final.</p>
            </div>
            <div class="box-box-box">
                <span style="font-size: 18px; color: #2d0065">Third-Party Services</span>
                <p>We use third-party services to operate our website. These services may have links to third-party apps, websites, or services that we do not operate.  We are not responsible for the content, security, or practices of these third-party resources. Please be aware that their own privacy policies may apply when you use them.</p>
            </div>
            <div class="box-box-box">
                <span style="font-size: 18px; color: #2d0065">Cookies</span>
                <p>Some advertisers and web analytics firms used on HyperFyp or in connection with our users' advertisements may place "tracking cookies" on your device. These small text files inform these companies about your online activity, usually without recording personally identifiable information. They use these cookies to tailor ads to your interests.</p>
                <p>HyperFyp may also place cookies on your device to target user interests, understand website usage patterns, and improve the user experience.  Cookies are used on HyperFyp for purposes including:</p>
                <ul>
                    <li>Tracking your member login</li>
                </ul>
                <p>You can manage cookies through your web browser preferences. The Help menu on most browsers will provide instructions. You may be able to accept cookies from primary sites while blocking those from third parties, block cookies from specific advertisers, or clear all cookies.</p>
            </div>
            <div class="box-box-box">

            </div>
            <h6 style="font-style: italic;">Last updated on April 9, 2024</h6>
        </div>
    </div>
</main>



    