
@{
    ViewBag.Title = "Punishment Policy - HyperFyp";
    Layout = "~/Views/Landing/_LandingLayout.cshtml";
}

<style>
    .box {
        position: relative;
        width: 90%;
        max-width: 900px;
        margin: 5%;
        font-family: 
            , sans-serif;
        display: flex;
        justify-content: center;
        color: #2f2f2f;
        font-size: 1rem;
    }

        .box .box-box {
            padding: 40px;
            background-color: #ffffffe3;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            gap: 25px;
            backdrop-filter: blur(14px);
        }

            .box .box-box .box-box-box {
                display: flex;
                flex-direction: column;
            }
</style>

<main class="inside">
    <div class="box">
        <div class="box-box">
            <span style="font-size: 23px; font-weight: 500;">Punishment Policy</span>
            <div class="box-box-box">
                <span style="font-size: 18px; color: #2d0065">Format:</span>
                <p>
                    <strong>Rule broke:</strong> (Refer to the corresponding TOS rule)
                    <br />
                    <strong>Sanction:</strong> Disabling the account for X time / Ban the account / Removal of views / IP ban / Warn / Removal of VIP permissions\ <br />
                    <ul>
                        <li><strong>First Time:</strong></li>
                        <li><strong>Second time:</strong></li>
                        <li><strong>Third time:</strong></li>
                    </ul>
                    <strong>How to appeal:</strong> (Always ticket system) <br />
                    (Big actions cannot be appealed) (Like uploading gore, NSFW, and more)
                </p>
            </div>
            <div class="box-box-box">
                <p>
                    <strong>Rule broke:</strong> Receiving Views - Spamming the API with small requests <br />
                    <strong>Sanction:</strong> <br />
                    <ul>
                        <li><strong>First time:</strong> Warning + Removal of views gained through spamming + Disabling of the account for 1 day</li>
                        <li><strong>Second time:</strong> Ban the account</li>
                        <li><strong>Third time:</strong> IP ban of the account.</li>
                    </ul>
                    <strong>How to appeal:</strong> Appeal through the ticket system within 24 hours of receiving the sanction.
                </p>
            </div>
            <div class="box-box-box">
                <p>
                    <strong>Rule broke:</strong> Receiving Views - Using bots to artificially inflate view count <br />
                    <strong>Sanction:</strong> <br />
                    <ul>
                        <li><strong>First time:</strong> Ban the account + Removal of all views gained through bots</li>
                        <li><strong>Second time:</strong> IP ban of the account.</li>
                    </ul>
                    <strong>How to appeal:</strong> Not appealable after the first time.
                </p>
            </div>
            <div class="box-box-box">
                <p>
                    <strong>Rule broke:</strong> Trading - Selling or buying rewards <br />
                    <strong>Sanction:</strong> <br />
                    <ul>
                        <li><strong>First time:</strong> Warning + Removal of traded rewards + Disabling of the account for 3 days</li>
                        <li><strong>Second time:</strong> Ban the account + Removal of all rewards</li>
                        <li><strong>Third time:</strong> IP ban of the account.</li>
                    </ul>
                    <strong>How to appeal:</strong> Appeal through the ticket system within 48 hours of receiving the sanction.
                </p>
            </div>
            <div class="box-box-box">
                <p>
                    <strong>Rule broke:</strong> Accounts - Using alt accounts to farm rewards <br />
                    <strong>Sanction:</strong> <br />
                    <ul>
                        <li><strong>First time:</strong> Warning + Removal of all rewards from alt accounts + Disabling of all associated accounts for 7 days</li>
                        <li><strong>Second time:</strong> Ban all associated accounts + Removal of all rewards</li>
                        <li><strong>Third time:</strong> IP ban of all associated accounts.</li>
                    </ul>
                    <strong>How to appeal:</strong> Appeal through the ticket system within 72 hours of receiving the sanction.
                </p>
            </div>
            <div class="box-box-box">
                <p>
                    <strong>Rule broke:</strong> VPNs - Using VPNs to access the service <br />
                    <strong>Sanction:</strong> <br />
                    <ul>
                        <li><strong>First time:</strong> Warning + Removal of views gained while using VPN + Disabling of the account for 7 days</li>
                        <li><strong>Second time:</strong> Ban the account</li>
                        <li><strong>Third time:</strong> IP ban of the account.</li>
                    </ul>
                    <strong>How to appeal:</strong> Appeal through the ticket system within 72 hours of receiving the sanction.
                </p>
            </div>
            <div class="box-box-box">
                <p>
                    <strong>Rule broke:</strong> Promo Codes - Exploiting promo codes to farm rewards <br />
                    <strong>Sanction:</strong> <br />
                    <ul>
                        <li><strong>First time:</strong> Warning + Removal of unfairly obtained rewards + Disabling of the account for 3 days</li>
                        <li><strong>Second time:</strong> Ban the account</li>
                        <li><strong>Third time:</strong> IP ban of the account.</li>
                    </ul>
                    <strong>How to appeal:</strong> Appeal through the ticket system within 48 hours of receiving the sanction.
                </p>
            </div>
            <div class="box-box-box">
                <p>
                    <strong>Rule broke:</strong> Giveaways - Cheating by using multiple accounts <br />
                    <strong>Sanction:</strong> <br />
                    <ul>
                        <li><strong>First time:</strong> Warning + Disqualification from current and future giveaways + Removal of any rewards won unfairly</li>
                        <li><strong>Second time:</strong> Ban the account + Removal of all rewards</li>
                        <li><strong>Third time:</strong> IP ban of the account.</li>
                    </ul>
                    <strong>How to appeal:</strong> Appeal through the ticket system within 48 hours of receiving the sanction.
                </p>
            </div>
            <div class="box-box-box">
                <p>
                    <strong>Rule broke:</strong> Ad Blocker - Using ad blocker while accessing the service <br />
                    <strong>Sanction:</strong> <br />
                    <ul>
                        <li><strong>First time:</strong> Warning + Removal of views gained while using ad blocker + Disabling of the account for 3 days</li>
                        <li><strong>Second time:</strong> Ban the account</li>
                        <li><strong>Third time:</strong> IP ban of the account.</li>
                    </ul>
                    <strong>How to appeal:</strong> Appeal through the ticket system within 72 hours of receiving the sanction.
                </p>
            </div>
            <h6 style="font-style: italic;">Last updated on April 9, 2024</h6>
        </div>
    </div>
</main>



