
@{
    ViewBag.Title = "Terms of Service - HyperFyp";
    Layout = "~/Views/Landing/_LandingLayout.cshtml";
}

<style>
    .box {
        position: relative;
        width: 90%;
        max-width: 900px;
        margin: 5%;
        font-family: 'Poppins', sans-serif;
        display: flex;
        justify-content: center;
        color: #2f2f2f;
        font-size: 1rem;
    }

        .box .box-box {
            padding: 40px;
            background-color: #ffffffe3;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            gap: 25px;
            backdrop-filter: blur(14px);
        }

            .box .box-box .box-box-box {
                display: flex;
                flex-direction: column;
            }
</style>

<main class="inside">
    <div class="box">
        <div class="box-box">
            <span style="font-size: 23px; font-weight: 500;">Terms of Service</span>
            <p>HyperFyp, referred to as "we," and our users, referred to as "members," are bound by the following terms and conditions:</p>
            <div class="box-box-box">
                <span style="font-size: 18px; color: #2d0065">Receiving Views</span>
                <p>We utilize a third-party partner to provide rewards to our members. While we strive to deliver the specified number of views, we cannot guarantee or offer refunds if member accounts are deleted, warned, or views are removed. Receiving TikTok views for free does not violate TikTok's Terms of Service, but any form of API spamming, DDOS attacks, or other abusive methods is strictly prohibited.</p>
            </div>
            <div class="box-box-box">
                <span style="font-size: 18px; color: #2d0065">Trading</span>
                <p>Our trading system allows members to gift rewards to friends, for giveaways, and upcoming mascot trading. Any form of selling, buying, or cross-trading our rewards is strictly prohibited and will result in account suspension with the balance removed. Buyers will also be sanctioned according to our punishment policy.</p>
            </div>
            <div class="box-box-box">
                <span style="font-size: 18px; color: #2d0065">Accounts</span>
                <p>Alt accounts of any kind are strictly prohibited. Any member found using alt accounts to farm rewards or evade bans will have all associated accounts banned, and balances removed. Attempts to evade sanctions, scamming, or coin farming are strictly prohibited and will be sanctioned accordingly.</p>
            </div>
            <div class="box-box-box">
                <span style="font-size: 18px; color: #2d0065">VPNs</span>
                <p>The use of VPNs for any purpose, including circumventing geographic restrictions, obtaining better rewards, evading IP bans, or engaging in fraudulent activities, is strictly prohibited and will result in sanctions according to our punishment policy.</p>
            </div>
            <div class="box-box-box">
                <span style="font-size: 18px; color: #2d0065">Promo Codes</span>
                <p>Promo codes can only be redeemed once. Any form of "coin farming" by farming coins on alternate accounts and transferring them is strictly prohibited. Members found engaging in this activity will be sanctioned according to our punishment policy.</p>
            </div>
            <div class="box-box-box">
                <span style="font-size: 18px; color: #2d0065">Giveaways</span>
                <p>We provide daily giveaways to enhance member experience. Any form of cheating, such as using multiple accounts to increase chances of winning, is strictly prohibited and will be sanctioned according to our punishment policy. VIP members can increase their chances by 2x.</p>
            </div>
            <div class="box-box-box">
                <span style="font-size: 18px; color: #2d0065">Ad Blocker</span>
                <p>We provide our services free of charge and rely on advertising, surveys, and sponsorships for revenue. Any use of ad blockers is strictly prohibited and will result in the removal of views and sanctions.</p>
            </div>
            <div class="box-box-box">
                <span style="font-size: 18px; color: #2d0065">Daily Rewards</span>
                <p>The daily rewards system allows members to receive free currency daily. Any form of "coin farming" is strictly prohibited and will be sanctioned accordingly.</p>
            </div>
            <div class="box-box-box">
                <span style="font-size: 18px; color: #2d0065">Avatar Customization</span>
                <p>Members may upload a profile picture to customize their appearance. Any abuse, including uploading inappropriate pictures (NSFW, gore, epileptic, or disturbing content), is strictly prohibited and will result in sanctions.</p>
            </div>
            <div class="box-box-box">
                <span style="font-size: 18px; color: #2d0065">Blog Writing</span>
                <p>Members are allowed to create blogs for assistance or request help. Any abusive behavior, including slurs, bullying, and inappropriate content, will be sanctioned.</p>
            </div>
            <div class="box-box-box">
                <span style="font-size: 18px; color: #2d0065">VIP Membership</span>
                <p>VIP membership is a subscription that can be purchased for "X$" and provides exclusive perks. Any abuse of these exclusive permissions will be sanctioned.</p>
            </div>
            <div class="box-box-box">
                <span style="font-size: 18px; color: #2d0065">Tickets</span>
                <p>Tickets provide a way for members to contact our staff department easily. Any abuse of tickets, including spam creation, off-topic submissions, fake claims, etc., will be sanctioned.</p>
            </div>
            <div class="box-box-box">
                <span style="font-size: 18px; color: #2d0065">Referral Program</span>
                <p>We provide a referral program for our members: by sharing your generated unique link and getting users to sign up using it, the member will receive 10% of their views and a fixed amount of views. VIP members earn twice as much (20% and x2). Any abuse by generating fake accounts to "coin farm" is strictly prohibited and will result in member sanctions.</p>
            </div>
            <div style="display: flex; justify-content: center">
                <h5>HYPERFYP IS NOT ASSOCIATED OR AFFILIATED WITH THE TIKTOK TRADEMARK OR BYTEDANCE. ALL RIGHTS RESERVED.</h5>
            </div>
            <h6 style="font-style: italic;">Last updated on April 9, 2024</h6>
        </div>
    </div>
</main>



